<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">All products</span></h1>
    <hr class="hr-3" />
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center" th:each="product : ${products}">
            <div class="offer card col-sm-6 col-md-3 col-lg-2 m-1 p-0">
                <a method="">
                    <div class="card-body pb-1">
                        <div>
                            <h5 class="card-title text-center"><span th:text="${product.getName()}"></span></h5>
                            <!-- ... other parts of your template ... -->
                            <div th:switch="${product.name}">
                                <img th:case="'Foundation'" src="/img/fnd.jpg" alt="Foundation Product Image"
                                     style="max-width: 100%; height: auto;">
                                <img th:case="'Bronzer'" src="/img/bronzer.jpg" alt="Bronzer Product Image"
                                     style="max-width: 100%; height: auto;">
                                <img th:case="'Brushes'" src="/img/brushes.jpg" alt="Brushes Product Image"
                                     style="max-width: 100%; height: auto;">
                                <img th:case="'Eyebrows'" src="/img/eyebrows.jpg" alt="Eyebrows Product Image"
                                     style="max-width: 100%; height: auto;">
                                <img th:case="'Mascara'" src="/img/mascara.jpg" alt="Mascara Product Image"
                                     style="max-width: 100%; height: auto;">
                                <img th:case="'Powder'" src="/img/powder.jpg" alt="Powder Product Image"
                                     style="max-width: 100%; height: auto;">
                                <!-- По подразбиране, ако категорията не съвпада с нито един от случаите -->
                                <img th:case="*" src="/img/bgd.jpg" alt="Default Product Image"
                                     style="max-width: 100%; height: auto;" />
                            </div>
                        </div>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="${product.price}"></span></div>
                        </li>
                        <button type="button" class="btn btn-success">Add Product</button>
                    </ul>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>

</html>
