<!DOCTYPE html>
<html lang="en" xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments/commons::head"> </head>
<body>
    <header th:replace = "fragments/commons::nav"> </header>
    <main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Welcome to MakeUp Shop App</h1>
            <hr class="my-3 bg-white w-50"/>
            <p class="h4">This shop will help you to have flawless make up.</p>
            <hr class="my-3 bg-white w-75" />
            <h3>
                <a class="text-primary" href="/users/login">Login</a>
                <a class="text-primary" href="/users/register">Register</a>
            </h3>
        </div>
    </main>
    <footer th:replace = "fragments/commons::footer"></footer>
</body>
</html>
